#app {
  .sidebar-container {
    height: 100%;
    // menu 未收起的样式
    &-menu:not(.el-menu--collapse) {
      width: $sideBarWidth;
    }
    .el-menu {
      border: none
    }
    // 收起菜单时的样式
    .el-menu--collapse {
      // 隐藏submenu title
      .submenu-title {
        display: none;
      }
    }

    .el-submenu {
      .el-menu {
        .el-menu-item {
          background-color: $subMenuBg!important;
          &:hover {
            background-color: $subMenuHover!important;
          }
        }
      }
    }
  }

}
